.Rproj.user
data/
solutions/
other/
render_file.R
/.quarto/
handouts/
data.zip
.gitignore
.Rhistory
babynames.csv
babynames.rda
quizzes-f24/
quizzes-f25/
quizzes-s24/
quizzes-s26
handouts/handout_knn.pdf
handouts_234/
