/*-- scss:defaults --*/

$primary: #9647b5 !default;

/*-- scss:rules  --*/

.sidebar-title {
  color: #9647b5;
  font-weight: bold;
}

.quarto-sidebar {
  color: #9647b5;
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #9647b5;
  font-weight: bold;
}

/* Code ------------------------------------------------ */

code {
  color: #3f4447;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 12pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}
